# coding: utf-8

{{>partial_header}}

from __future__ import absolute_import

# import models into sdk package
{{#models}}{{#model}}from .models.{{classFilename}} import {{classname}}
{{/model}}{{/models}}
# import apis into sdk package
{{#apiInfo}}{{#apis}}from {{apiPackage}}.{{classVarName}} import {{classname}}
{{/apis}}{{/apiInfo}}
# import ApiClient
from .api_client import ApiClient

from .configuration import Configuration

configuration = Configuration()

try:
    from .__version__ import version as __version__
except ImportError:
    # Fallback, used only for testing without installing library
    __version__ = '0.0.0'